{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}


                    
<footer class="footer footer_{{page_type}}" role="contentinfo">
    <div class="container">
        <section class="footer-info 4a616d6573">
            <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-categories">
                <h5 class="footer-info-heading">
                    <img class="footer-logo" title="" src="{{cdn 'assets/img/footer-logo.svg'}}" alt="">
                </h5>
                <p>{{nl2br settings.address}}</p>
                <p><i class="icon" aria-hidden="true">
                    <svg><use xlink:href="#icon-phone" /></svg>
                </i>
                <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></p>
            </article>
        </div>
        <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-webPages">
                <ul class="footer-info-list-2"> 
                    <li>
                        <a href="/terms-of-use/">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                </ul>
                <ul class="footer-info-list">
                        <li>
                            <a href="/sara-campbell-gift-card/">Gift Cards</a>
                        </li>
                        <li>
                            <a href="/returns-exchanges/">Returns & Exchanges</a>
                        </li>
                        {{!--<li>
                            <a href="#">Press</a>
                        </li>--}}
                        <li>
                          <a href="/about-us/">About Us</a>
                        </li>
                        <li>
                          <a href="/join-our-team/">Join Our Team</a>
                        </li>
                        <li>
                            <a href="/contact-us/">Contact Us</a>
                        </li>
                        <li>
                            <a href="/store-locator/">Find A Store</a>
                        </li>
                </ul>
                <ul class="social-media">
                    <li><a target="_blank" href={{social_media.[0].url}}><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/instagram.svg'}}" alt=""></a></li>
                    <li><a target="_blank" href={{social_media.[1].url}}><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/facebook.svg'}}" alt=""></a></li>
                    <li><a target="_blank" href={{social_media.[2].url}}><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/pinterest.svg'}}" alt=""></a></li>
                    <li><a target="_blank" href={{social_media.[3].url}}><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/twitter.svg'}}" alt=""></a></li>
                </ul>
            </article>
        </div>
            
            
            {{#if settings.show_newsletter_box}}
            <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-webPages">
                <div class="footer-newsletter">
                    {{> components/common/subscription-form}}
                </div>
                </article>
            </div>
            {{/if}}
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        
        
       
    </div>
    <div class="footer-copyright">
{{#or theme_settings.show_powered_by theme_settings.show_built_by}}
            <div class="container" style="font-size: 12px;">
                {{#if theme_settings.show_copyright_footer}}
                <p class="powered-by">&copy;  {{moment format="YYYY"}} {{settings.store_name}} Ltd. in Boston, MA. All rights reserved.</p>
            {{/if}}
                
            </div>
        {{/or}}
</div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
/ contact form /
$(document).ready(function(){
    $( ".body_blog .page-heading" ).replaceWith( "<h1 class='page-heading'>THE <span style='color:#ec008c;'>SC</span>OOP</h1>" );
	 $(window).on('load', function(e) {
		 if($('#nl_name').val() != '')
			 {
				$('#nl_name').prev('label').addClass('active'); 
			 }
		 if($('#nl_email').val() != '')
			 {
				$('#nl_email').prev('label').addClass('active'); 
			 }
		 if($('#nl_message').val() != '')
			 {
				$('#nl_message').prev('label').addClass('active'); 
			 }
		 });
    $('.form').find('input, textarea').on('keyup blur focus', function(e) {
      var $this = $(this),
        label = $this.prev('label');
      if (e.type === 'keyup') {
        if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
      } else if (e.type === 'blur') {
        if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.removeClass('highlight');
        }
      } else if (e.type === 'focus') {

        if ($this.val() === '') {
          label.removeClass('highlight');
        } else if ($this.val() !== '') {
          label.addClass('highlight');
        }
      }
    });
});
</script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
